pillow
numpy
omegaconf
torchinfo
tqdm
pandas
lpips
torcheval
torchmetrics
image-diversity
pathlib
datetime

pillow
numpy
omegaconf==2.3.0
torchinfo==1.8.0
tqdm==4.65.0
pandas
lpips==0.1.4
torcheval==0.0.6
torchmetrics
image-diversity
pathlib==1.0.1
datetime==5.1